TABLE.mvmg_txn_table {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

TABLE.mvmg_txn_table TR{
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 0;
}

TABLE.mvmg_txn_table TR.details  {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 0;
}

TABLE.mvmg_txn_table TH {
  border-bottom: 3px solid green;
}

TABLE.mvmg_txn_table TD {
  padding-right: 15px;
}

DIV.gozabo_txn_product_row {
  text-align: right;
  vertical-align: top;
}
DIV.gozabo_txn_total_text {
  text-align: right;
  vertical-align: top;
  font-weight:bold;
}
DIV.gozabo_payment_buttons {
  margin: 5px 0 5px 0;
}
DIV.gozabo_status_text {
  font-weight: bold;
}
DIV.gozabo_buyer_ops_list {
  margin: 5px 0 5px 0;
}
